name: Deployment
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # clone the repository
      - uses: actions/checkout@v2
        with:
          ref: prod

      # installe node
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
      # Say Hi for now
      - name: Server >  Install dependencies
        run: |
          cd server
          npm i
      - name: Server >  Build Server
        run: |
          cd server
          npm run build
      - name: Server >  Test if it works
        run: |
          cd server
          ls

# - name: installing Dependencies
# run: npm i
# - name: building
# run: npm run build
# - name: deploying
# run: echo etc
# - name: Done
# run: echo Done!
